<!DOCTYPE html>
<html lang="en">
  <title>Digital Mincome</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static',filename='css/style.css')}}"
  />
  <script
    src="{{ url_for('static', filename='js/index.js') }}"
    type="text/javascript"
    defer
  ></script>
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Poppins", sans-serif;
    }
    body {
      font-size: 16px;
    }
    .w3-half img {
      margin-bottom: -6px;
      margin-top: 16px;
      opacity: 0.8;
      cursor: pointer;
    }
    .w3-half img:hover {
      opacity: 1;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <body>
    <!-- Sidebar/menu -->
    <nav
      class="w3-sidebar w3-indigo w3-collapse w3-top w3-large w3-padding"
      style="z-index: 3; width: 300px; font-weight: bold"
      id="mySidebar"
    >
      <br />
      <a
        href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-button w3-hide-large w3-display-topleft"
        style="width: 100%; font-size: 22px"
        >Close Menu</a
      >
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>Menu</b></h3>
      </div>
      <div class="w3-bar-block">
        <a
          href="#"
          onclick="w3_close()"
          class="w3-bar-item w3-button w3-hover-white"
          >Home</a
        >
        <a
          href="#model"
          onclick="w3_close()"
          class="w3-bar-item w3-button w3-hover-white"
          >Model</a
        >

        <a
          href="#video"
          onclick="w3_close()"
          class="w3-bar-item w3-button w3-hover-white"
          >Video</a
        >
      </div>
    </nav>

    <!-- Top menu on small screens -->
    <header
      class="w3-container w3-top w3-hide-large w3-indigo w3-xlarge w3-padding"
    >
      <a
        href="javascript:void(0)"
        class="w3-button w3-indigo w3-margin-right"
        onclick="w3_open()"
        >☰</a
      >
      <span>Digital Mincome</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div
      class="w3-overlay w3-hide-large"
      onclick="w3_close()"
      style="cursor: pointer"
      title="close side menu"
      id="myOverlay"
    ></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left: 340px; margin-right: 40px">
      <!-- Header -->
      <div class="w3-container" style="margin-top: 80px" id="model">
        <h1 class="w3-jumbo"><b>Digital Mincome</b></h1>
        <h1 class="w3-xxxlarge w3-text-indigo"><b>Model.</b></h1>
        <!-- <hr
          style="width: 300px; border: 5px solid darkseagreen"
          class="w3-round"
        /> -->

        <div class="plot-container">
          <div class="left">
            <label for="transaction_fee"> Transaction fee</label><br />
            <input
              id="transaction_fee"
              class="slider"
              type="range"
              min="0"
              max="1"
              step="0.01"
              value="0.01"
              oninput="this.nextElementSibling.value = this.value"
            />
            <output>0.01</output>
            <br />
            <label for="defi_prop"> DeFi proportion </label><br />
            <input
              id="defi_prop"
              class="slider"
              type="range"
              min="0"
              max="1"
              value="0.5"
              step="0.01"
              oninput="this.nextElementSibling.value = this.value"
            />
            <output>0.5</output>
            <br />
            <label for="defi_return"> DeFi return </label><br />
            <input
              id="defi_return"
              class="slider"
              type="range"
              min="0"
              max="1"
              value="0.07"
              step="0.01"
              oninput="this.nextElementSibling.value = this.value"
            />
            <output>0.07</output>
            <br />
            <label for="fund_return"> Fund return </label><br />
            <input
              id="fund_return"
              class="slider"
              type="range"
              min="0"
              max="1"
              value="0.15"
              step="0.01"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>0.15</output>
            <br />
            <label for="initial_number_user"> Initial number of users </label
            ><br />
            <input
              id="initial_number_user"
              class="slider"
              type="range"
              min="1000"
              max="1000000"
              value="300000"
              step="1000"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>300000</output>
            <br />
            <label for="final_number_user"> Final number of users </label><br />
            <input
              id="final_number_user"
              class="slider"
              type="range"
              min="100000"
              max="10000000"
              value="100000"
              oninput="this.nextElementSibling.value = this.value"
            />
            <output>30000000</output>
            <br />
            <label for="avg_nb_transactions">
              Average number of transaction </label
            ><br />
            <input
              id="avg_nb_transactions"
              class="slider"
              type="range"
              min="1"
              max="50"
              value="2"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>2</output>
            <br />
            <label for="avg_amount_transaction">
              Average transaction amount </label
            ><br />
            <input
              id="avg_amount_transaction"
              class="slider"
              type="range"
              min="1"
              max="1000"
              value="100"
              oninput="this.nextElementSibling.value = this.value"
            />
            <output>100</output>
            <br />
            <label for="time"> Time Span (in years) </label><br />
            <input
              id="time"
              class="slider"
              type="range"
              min="1"
              max="50"
              value="12"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output>12</output>
            <br />
            <label for="tau">Linearity of customer growth</label><br />
            <input
              id="tau"
              class="slider"
              type="range"
              min="1"
              max="30"
              value="2.5"
              step="0.5"
              oninput="this.nextElementSibling.value = this.value"
            />
            <output>2.5</output>
            <br />
            <label for="defi_redistrib_period"
              >Defi. redistribution period (in days)</label
            ><br />
            <input
              id="defi_redistrib_period"
              class="slider"
              type="range"
              min="1"
              max="365"
              value="92"
              oninput="this.nextElementSibling.value = this.value"
            />
            <output>92</output>
            <br />
            <button onclick="query()" id="submit">Simulate</button>
          </div>
          <div id="result" class="right"></div>
          <!-- <label for="fund_period">Fund period</label><br />
          <input
            id="fund_period"
            class="slider"
            type="range"
            min="1"
            max="10"
            value="6"
          /> -->
        </div>
        <hr />
      </div>

      <div class="w3-container" style="margin-top: 80px" id="video">
        <h1 class="w3-xxxlarge w3-text-indigo"><b>Video</b></h1>
        <iframe
          src="https://www.youtube.com/embed/tgbNymZ7vqY"
          frameborder="0"
          width=1920
          height="1080"
        ></iframe>
      </div>

      <!-- End page content -->
    </div>

    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }

      // Modal Image Gallery
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }
    </script>
  </body>
</html>
